@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@300;400&display=swap');
html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#main, #second {
    box-sizing: border-box;
}

#main {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#main {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

#main div {
    position: relative;
    z-index: 1;
    text-align: center;
}







#main p {
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    transform: translateY(-25px);
    margin: 0;
}

#second {
    height: 100vh;
    background-color: rgb(241, 241, 241);
}

#main div, #more {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#more {
    z-index: 2;
    display: inline-block;
    color: #fff;
    font: normal 400 20px/1 "Josefin Sans", sans-serif;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: opacity 0.3s;
    transform: translateY(0px);
}

#more span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    animation: a 1.5s infinite;
    box-sizing: border-box;
}

@keyframes a {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
}
