@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@300;400&display=swap');
* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#main {
    height: 90vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/backgrounds/sahara1.png) center/cover fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-sizing: border-box;
}
#main p {
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    transform: translateY(-25px);
}

#drużyna{
    width: 100vw;
}

#second{
    height: 100vh;
    background-color: rgb(241, 241, 241);
}
